<div>
    <ul id="users-list">
        <li>
            <span class="heading">
                Name
            </span>
            <span class="heading">
                Age
            </span>
            <button id="add-button">
                Add
            </button>
        </li>
     </ul>
  
</div>
@Scripts.Render("~/bundles/app")


